
body {
    font-family: Tahoma, Arial, sans-serif; /* písmo */
}

.obal {
    max-width: 800px;
    margin: auto;
}

/* vodorovná linka */
hr {
    border: 1px solid lightblue;
}

img {
    width: 400px; /* šířka */
}

/* vzhled tabulky */
table, tr, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
    padding: 2px 5px;
}

li::marker {
    color: blue; /* Nastaví barvu odrážky */
}
